a
{
	font-family: 'Arial';
	font-size:24px;
	text-decoration: none;
	color: black;
}

p
{
	font-family: 'Arial'
	font-size:24px;
	text-decoration: none;
	color: black;
}

h1
{
font-family: 'Arial'
font-size:34px;
}
td
{
	font-family: 'Arial'
	font-size:24px;
	text-decoration: none;
	color: black;
}

